# HydroGeoSines

## General data processing workflow
### Example: BE Methods

This notebook demonstrates the general data handling capabilities of HydroGeoSines. The standard workflow for loading, processing and analysing data, as well as exporting and visualizing results is demonstrated on a simple example dataset. We show how the Site object and its methods can be used to store data and how the data processing is handled via the Processing object and its methods.

In [1]:
import os
os.chdir("../../")
print("Current Working Directory " , os.getcwd())

Current Working Directory  D:\Workspaces\GitHub\HydroGeoSines

In [2]:
# Load the HGS package
import hydrogeosines as hgs

In [3]:
# and other packages used in this tutorial
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Create a Site object
example_site = hgs.Site('example', geoloc=[141.762065, -31.065781, 160])
print(example_site)

<hydrogeosines.models.site.Site object at 0x0000017F404CBD48>

In [5]:
# Load all our data attributed to the Site
example_site.import_csv('tests/data/notebook/GW_record.csv', 
                        input_category=["GW"]*3, 
                        utc_offset=10, unit=["m"]*3, loc_names = ["Loc_A","Loc_B","Loc_C"],
                        how="add", check_dublicates=True)

A new time series was added ...
No dublicates being found ...

In [6]:
example_site.data

                        datetime category location part unit  value
0      2000-12-31 14:05:30+00:00       GW    Loc_A  all    m  7.017
1      2000-12-31 14:10:30+00:00       GW    Loc_A  all    m  7.016
2      2000-12-31 14:15:30+00:00       GW    Loc_A  all    m  7.016
3      2000-12-31 14:20:30+00:00       GW    Loc_A  all    m  7.017
4      2000-12-31 14:25:30+00:00       GW    Loc_A  all    m  7.014
...                          ...      ...      ...  ...  ...    ...
154459 2001-03-30 13:50:18+00:00       GW    Loc_C  all    m  6.549
154460 2001-03-30 13:50:49+00:00       GW    Loc_C  all    m    NaN
154461 2001-03-30 13:55:07+00:00       GW    Loc_C  all    m    NaN
154462 2001-03-30 13:55:18+00:00       GW    Loc_C  all    m  6.553
154463 2001-03-30 13:55:49+00:00       GW    Loc_C  all    m    NaN

[154464 rows x 6 columns]

In [9]:

example_site.import_csv('tests/data/notebook/GW_record.csv', 
                        input_category="BP", 
                        utc_offset=10, unit="mbar", loc_names = "Baro",
                        how="add", check_dublicates=True) 

#print(example_site)

ValueError: Length mismatch: Expected axis has 2 elements, new values have 1 elements

In [ ]:
example_site.data